<!DOCTYPE html>
<html>
<head>
	<title>Future Of Housing Communities</title>
	<meta name="viewport" content="width=device-width"/>
	<meta name="description" content="Future Of Housing Communities"/>
	<meta charset="UTF-8"> 
	<link rel="shortcut icon" href="../image/github-512.png">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-YKJB8J13T6"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-YKJB8J13T6');
	</script>

	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link type="text/css" rel="stylesheet" href="../css/style.css">

</head>

<body >
	<div id="top_">
	<div id="bg" class="instaFade">
		<div class="mainDetails">
			<div class="container">
				<div class="item-center">
					<img class="header_img" src="../image/CITYSCIENCE.png" alt="CITYSCIENCE" />
				</div>
				<div class="item-left" style="text-align: right">
					<ul style="text-align:right;">
						<a href="https://future-of-housing-communities.github.io/future/zh/index.html" style="text-decoration:blink;color: white;border-bottom: 2px solid #cf8a05;">ZH-TW</a> |
						<a href="https://future-of-housing-communities.github.io/future/en/index.html" style="text-decoration:blink;color: white;border-bottom: 2px solid #cf8a05;">ENG</a>
					</ul>
				</div>
			</div>
		</div>
		<div id="mainArea" class="quickFade delayFive">
			<div class="image_data">
				<img src="../image/DesignCompetition.jpg" style="display:block; margin:auto" width="80%" alt="Design Competition" />
			</div>
			<hr class="hr_1">
			<div class="title">
				<!-- <div class="title_1">
					Future Of Housing Communities
				</div>
				<div class="title_2">
					International Design Competition
				</div> -->
			</div>
			<div class="body_data">
				<p>
					Post-2020, how we work, live, and engage with our others has rapidly transformed. Previous developer-driven models do not account for these new lifestyles or these accelerated time frames. This crucial moment in history will have a lasting impact on our ecological footprint. Society reacts in an emergency, as it should; however, this is also a moment to reflect: Are we respectful, responsible, sustainable, and helpful? Traditionally, cities evolved over hundreds and thousands of years, flourishing into an intricate ecosystem. Time is no longer a luxury we can afford. Society, and the planet, can no longer endure an evolutionary process of trial and error. We have to get it right the first time.
				</p>
				<p>
					Humanity is changing rapidly, and consequently, so is our planet. Global society is now a complex web in which virtual and physical spaces are intricately interwoven. Citizens shop from home, work from home, educate their children at home, but we long for “pack life” and the promise of travel, along with its small annoyances and discomforts. This calls for a redefinition of ‘home’ within a community, designs that bring balance between disparate aspects of public and private life. 
				</p>
				<p>
					Participants will be tasked with reimagining the tools needed to create future communities and the redefinition of home. This toolkit should answer important questions, but it should also formulate questions that are not being asked of us yet. The competition will focus on post-pandemic modes of city life fusing education, health, technology, art, ecology, activism, and entrepreneurship.
				</p>
				<p class="say_">
					“in practice master plans fail...they are too rigid; they cannot easily adapt to the natural and unpredictable changes that inevitably arise in the life of a community.”
					<p class="say_">
						– Christopher Alexander
					</p>		
				</p>
				<p>
					We invite you to join help craft the Home of Tomorrow. The challenge is to explore elegant, efficient, and dynamic concepts that strike a balance between live, work, play while incorporating sustainable technologies that leverage robotics, modular design, prefabrication, and eco-friendly materials.
				</p>
			</div>
			<hr class="hr_1">
		</div>
		<div class="clockdiv_">
			<div class="clockdiv_text font_size_title">
				COUNTDOWN TO COMPETITION KICKOFF
			</div>

			<div id="clockdiv">
			  <div>
			    <span class="days"></span>
			    <div class="smalltext">Days</div>
			  </div>
			  <div>
			    <span class="hours"></span>
			    <div class="smalltext">Hours</div>
			  </div>
			  <div>
			    <span class="minutes"></span>
			    <div class="smalltext">Minutes</div>
			  </div>
			  <div>
			    <span class="seconds"></span>
			    <div class="smalltext">Seconds</div>
			  </div>
			</div>
		</div>
		<div style="padding: 0 25px;">
			<hr class="hr_1">
		</div>	
		<div id="date_detail">
			<div class="register" v-if="view_page_text==false">
				<div>
					Find the categories that suit you the most to register for the competition before the countdown ends; participants will receive different information packages. Each package contains further clues of the site and challenges for you to solve. 
				</div>
				<div class="row types">
					<div class="col-lg-3 col-md-6 type" style="text-align: center;">
						<div>
							<img src="../image/architect.png" alt="architect" class="type_img"/>
						</div>
						<div class="type_">
							<a href="">
								Architects, Planner and  Designers
							</a>
						</div>
						<div class="type_desc">
							SPACE
						</div>
					</div>
					<div class="col-lg-3 col-md-6 type" style="text-align: center;">
						<div>
							<img src="../image/planner.png" alt="planner" class="type_img"/>
						</div>
						<div class="type_">
							<a href="">
								Planners & Landscape Designers
							</a>
						</div>
						<div class="type_desc">
							URBAN DESIGN
						</div>
					</div>
					<div class="col-lg-3 col-md-6 type" style="text-align: center;">
						<div>
							<img src="../image/programmer.png" alt="programmer" class="type_img"/>
						</div>
						<div class="type_">
							<a href="">
								Engineers & Programmers
							</a>
						</div>
						<div class="type_desc">
							SMART OBJECTS
						</div>
					</div>
					<div class="col-lg-3 col-md-6 type" style="text-align: center;">
						<div>
							<img src="../image/artist.png" alt="artist" class="type_img"/>
						</div>
						<div class="type_">
							<a href="">
								Artists & Musicians
							</a>
						</div>
						<div class="type_desc">
							?
						</div>
					</div>
				</div>
				<hr class="hr_1">
			</div>
			<p class="font_size_title">
				IMPORTANT DATES
			</p>
			<span style= "display:block">Announce Date: April 22nd 2021</span> 
			<span style= "display:block">Competition Kickoff: May 22nd 2021</span>
			<span style= "display:block">Submissions Deadline: August 22nd 2021</span>
			<span style= "display:block">Results Announcement :September 22nd 2021</span>
			<span style= "display:block">All deadlines are 11:59 PM CST</span>
		
			<div class="register" v-if="view_page_text==true">
				<!-- view_page_text: 0 // 1 : text; 0 :icon -->
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSeKXC0DDX1z0iamyvrAZnshNb9WvQW9ls99Te5QBMxkwMEELA/viewform?embedded=true" class="register_a">
					→ Register Your Team
				</a>
				<span style= "display:block">Detail information package will be sent out by May 22nd 12PM (CST)</span> 
			</div>

		</div>
		<div style="background: #000;padding: 12px 35px;">
			<span id="contactDetails_l">
				<img src="../image/NewTaipeiCity.png" alt="NewTaipeiCity"  class="footer_img" />
			</span>
			<span id="contactDetails_l">
				<img src="../image/MediaLabLogo.png" alt="MediaLabLogo"  class="footer_img" />
			</span>
			<span id="contactDetails_l">
				<img src="../image/CITYSCIENCE.png" alt="CITYSCIENCE"  class="footer_img" />
			</span>
		</div>

		<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeKXC0DDX1z0iamyvrAZnshNb9WvQW9ls99Te5QBMxkwMEELA/viewform?embedded=true" width="100%" height="733" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe> -->
	</div>
	</div>
</body>
</html>

<script type="text/javascript" src="../js/clock_set.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vConsole/3.4.1/vconsole.min.js" integrity="sha512-OLJZyStQ8f3eOpwECfl5lhLnm12WyNZynhh8zg1il/b5q/kDBg6SYKU2BjHHEyeS0hAjjcyyQtudEhHNPws0lg==" crossorigin="anonymous"></script> -->
<!-- <script>
	var vConsole = new VConsole();
</script> -->

<script type="text/javascript">
	// let set_end_time = "2021-05-22T23:59:59";
	let set_end_time = "2021-05-23T12:00:00+08:00";//Taipei 台灣時間，5/23號12AM
	// let set_end_time = "2021-05-22T24:00:00-04:00";//Boston 01:32 五月22號 晚上12PM
	set_time(set_end_time);
</script>